<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <script>
    let arr = [
      {name:'小委屈',age:'13'},
      {name:'小w',age:'13'},
      {name:'小屈',age:'12345.789'},
      {name:'小底',age:'13'},
    ]
    arr.forEach(item =>{
      item.name= "111"
      item.age
    })

    console.log(arr);
  </script>
</body>
</html>
